*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBar{
    display: flex;
    background-color: #FE1A19;
    width: 1440px;
    height: 60px;
}

.text{
    display: flex;
    font-size: 20px;
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
}

h1{
    font-size: 20px;
    margin-left: 20px;
}

.menu{
    display: flex;
    justify-content: space-around;
    height: 964px;
    width: 1440px;
}

.clmn{
    margin-top: 90px;
    margin-bottom: 112px;
    width: 400px;
    height: 800px;
    display: flex;
    background-image: url("1.png");
    background-size: cover;
    justify-content: space-around;
    flex-direction: column;
}

.dishes{
    display: flex;
    width: 334px;
    height: 670px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

p{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-around;
}

span{
    font-size: 20px;
}